input:focus{
	background-color: #f0f0f0 ;
}


body {
  background-image: url("sunset.jpg");
}

/* Container styling */
.form-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/* Heading styling */
.form-container h2 {
  text-align: center;
  font-family: 'Mistral', sans-serif;
  color: white;
  
}

/* Label and input field styling */
.form-container label {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  font-family: 'Times New Roman', sans-serif;
  color: white;
} 

.form-container input[type="text"],
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Times New Roman', sans-serif;
  box-sizing: border-box;


}

 input[type="radio"] {
      margin-right: 8px;
      vertical-align: middle;
    }

 .radio-group label {
      margin-right: 20px;
      display: inline-block;
      font-weight: normal;
      color: white;
    }

   
.form-container textarea {
  height: 100px;
}

/* Button styling */
.form-container input[type="submit"] {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Times New Roman', sans-serif;
}

.form-container input[type="submit"]:hover {
  background-color: #218838;
}
